#main {
	background:url(../images/main_background.png) repeat-y;
}

#main #inside {
	width:802px;
	margin:0 auto;
}


#main h2 {
	font-family:'LeagueGothicRegular';
	font-size:26px;
	margin-bottom:15px;
	font-weight:normal;
	text-transform:uppercase;
	color:#822a05;
}

#main #logo {
	padding:50px 0;
}

#main #logo h1 {
	text-indent:-9999px;
	background:url(../images/logo.png);
	width:802px;
	height:147px;
	margin:0 auto;
}

#main #details {
	background:url(../images/white_background.png);
/*	height:215px;*/
	padding:18px 0;
	border-top:1px solid #d8d8d8;
	border-bottom:1px solid #d8d8d8;
}

#main #details ul li {
	width:237px;
	padding:0 15px;
	float:left;
}

#main #details ul li#when #ribbon {
	background:url(../images/ribbon.png) no-repeat;
	width:211px;
	margin-bottom:8px;
	position:relative;
	line-height:35px;
	padding:0 28px;
	left:-28px;
	font-size:14px;
	letter-spacing:-1px;
	height:47px;
	color:#fff;
	font-weight:bold;
	text-shadow:1px 1px 1px #6b6b6b;  
}

#main #details ul li#when #ribbon #time {
	font-family:'Georgia';
	font-style:italic;
	font-weight:normal;
}

#main #details ul li#where img {
	margin-bottom:5px;
}

#main #details ul li p {
	line-height:20px;
	margin-bottom:8px;
}

#main #details ul li p:last-child {
	margin-bottom:0px;
}

#main #planning {
	margin:10px 0 10px 0;
}

#main #planning h3 {
	background:url(../images/member_text.png) no-repeat;
	width:169px;
	height:24px;
	text-indent:-9999px;
	margin:0 auto 15px auto;
} 

#main #planning ul {
	margin:0 auto;
	text-align:center;
}

#main #planning ul li {
	display:inline-block;
	padding:0 8px 10px 8px;
}

#main #planning ul li img {
	border:5px solid #d8d7d1;
	width:55px;
	height:55px;
}

#main #planning ul li a {
	display:block;
}

#main #twitter {
	background:#dddddd;
	padding:12px 0;
	font-family:'Georgia';
	font-style:italic;
	text-align:center;
	font-size:12px;
	color:#626060;
}

#main #projects {
	margin-bottom:20px;
}

#main #projects h2 {
	padding:10px 18px;
	margin-bottom:0px;
	
}

#main #projects ul li {
	display:inline-block;
	padding:10px 18px;
	width:361px;
	line-height:20px;
}


#main #projects ul li .info {
	margin-bottom:5px;
}

#main #projects ul li a.title {
	font-size:15px;
	font-weight:bold;
}

#main #projects ul li span.author {
	font-size:11px;
	font-family:'Georgia';
	font-style:italic;
}

#main #footer {
	background:#053648;
	border-top:4px solid #9bafb6;
	color:#fff;
	font-size:10px;
	padding:10px 0;
}

#main #footer #share,
#main #footer #license,
#main #footer #source {
	width:242px;
	padding:10px;
	line-height:15px;
}

#main #footer #share ul {
	padding:7px 10px;
}

#main #footer #share ul li {
	float:left;
	padding:0 5px;
}

#main #footer #share ul li a {
	display:block;
	text-indent:-9999px;
	width:32px;
	height:31px;
}

#main #footer #share ul li.github a { background:url(../images/github_logo.png) no-repeat; }
#main #footer #share ul li.facebook a { background:url(../images/facebook_logo.png) no-repeat; }
#main #footer #share ul li.twitter a { background:url(../images/twitter_logo.png) no-repeat; }
#main #footer #share ul li.google a { background:url(../images/google_logo.png) no-repeat; }
#main #footer #share ul li.meetup a { background:url(../images/meetup_logo.png) no-repeat; }



/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}