<div id="latest_blog" class="column">
  <h1>Getting the Ball Rolling</h1>
  <p>Ruby Bayou is the user group for the Ruby developer community in New Orleans. We exist to promote and explore the use of Ruby as a programming language as well as engage with other technology and community groups in the New Orleans metro area.</p>
  <p>We’re just getting things started, so we need you. The choice of name has more meaning than the obvious reference to our location. This user group needs to be <strong><em>by you</em></strong>! This group will only come together if it is done <strong><em>by you</strong></em>. So, if you want it to happen, make it happen. Plug in, get active and let’s get this ball rolling...</p>
</div>
<div id="twitter" class="column">
  <h1>Twitter</h1>
  <ul>
  <% @tweets.each do |tweet| %>
    <li><%= linkify_twitter_text(tweet.text) %> <small>(<%= time_ago_in_words(tweet.datetime) %>)</small></li>
  <% end %>
  </ul>
  <a href="http://twitter.com/RubyBayou" id="twitter-link" style="display:block;text-align:right;">Keep up on Twitter</a>
</div>
<div id="meeting" class="column">
	<h1>Upcoming Meeting</h1>
	<h2>Ruby &amp; Processing</h2>
	<div id="calendar-tile">
		<div id="month">November</div>
		<span>19</span>
		<div id="time">7:00 pm</div>
	</div>
  <p>For November we'll be looking at using <a href="http://wiki.github.com/jashkenas/ruby-processing/getting-started">Ruby and Processing</a> plus a closer look at <a href="http://sinatrarb.com/">Sinatra</a>. The meeting will be at Gumbo Labs, located at <a href="http://maps.google.com/maps?q=4820+Banks+St+New+Orleans+LA">4820 Banks Street</a> on Thursday, November 19th at 7:00pm. Pizza and drinks will be provided thanks to the support of <a href="http://www.engineyard.com/">Engine Yard</a>. RSVP by clicking <a href="http://twtvite.com/kzv8e8">here</a> so we know how much pizza to buy.</p>
</div>
