<div id="latest_blog" class="column">
  <h1>Getting the Ball Rolling</h1>
  <p>Ruby Bayou is the user group for the Ruby developer community in New Orleans. We exist to promote and explore the use of Ruby as a programming language as well as engage with other technology and community groups in the New Orleans metro area.</p>
  <p>We’re just getting things started, so we need you. The choice of name has more meaning than the obvious reference to our location. This user group needs to be <strong><em>by you</em></strong>! This group will only come together if it is done <strong><em>by you</strong></em>. So, if you want it to happen, make it happen. Plug in, get active and let’s get this ball rolling...</p>
</div>
<div id="twitter" class="column">
  <h1>Twitter</h1>
  <ul>
  <% @tweets.each do |tweet| %>
    <li><%= linkify_twitter_text(tweet.text) %> <small>(<%= time_ago_in_words(tweet.datetime) %>)</small></li>
  <% end %>
  </ul>
  <a href="http://twitter.com/RubyBayou" id="twitter-link" style="display:block;text-align:right;">Keep up on Twitter</a>
</div>
<div id="meeting" class="column">
	<h1>Upcoming Meeting</h1>
	<h2>New year and new ideas</h2>
	<div id="calendar-tile">
		<div id="month">January</div>
		<span>28</span>
		<div id="time">7:00 pm</div>
	</div>
  <p><a href="http://twitter.com/plainprogrammer">James Thompson</a> will be leading a review of 2009 and soliciting ideas from the group about where to go in 2010. No pizza at this event but we'll have drinks and other snacks; plus a few things to give away. This meeting will be held at <a href="http://www.gumbolabs.org/">Gumbo Labs</a> starting at 7:00pm.</p>
</div>
