<div id="about" class="column">
  <h1>About Us</h1>
  <p>Ruby Bayou is the user group for the Ruby developer community in New Orleans. We exist to promote and explore the use of Ruby as a programming language as well as engage with other technology and community groups in the New Orleans metro area.</p>
  <h2>Keeping Up</h2>
  <p>If you want to stay informed about monthly meetings and events please subscribe to our <a href="http://eepurl.com/hcia">announcement list</a>.</p>
  <h2>Want to Learn Ruby?</h2>
  <p>We're organizing a class to teach folks how to program with Ruby, whether you are coming from another language or have no previous programming experience. Classes will begin in December or January and will be as cheap as we can make it. James Thompson and one or more other experienced members of our group will lead the course. Interested? Fill out <a href="http://bit.ly/teachrubynola">the interest form</a> and we'll keep you in the loop.</p>
</div>
<div id="twitter" class="column">
  <h1>Twitter</h1>
  <ul>
  <% @tweets.each do |tweet| %>
    <li><%= raw(linkify_twitter_text(tweet.text)) %> <small>(<%= raw(time_ago_in_words(tweet.datetime)) %>)</small></li>
  <% end %>
  </ul>
  <a href="http://twitter.com/RubyBayou" id="twitter-link" style="display:block;text-align:right;">Keep up on Twitter</a>
</div>
<div id="meeting" class="column">
	<h1>Upcoming Meeting</h1>
	<h2>iSeatz</h2>
	<div id="calendar-tile">
		<div id="month">January</div>
		<span>27</span>
		<div id="time">7:00 pm</div>
	</div>
	<p>Paul Christmann, from <a href="http://www.iseatz.com">iSeatz</a>, will be presenting on how their team makes use of Ruby and Rails to power their large-scale applications. They're also providing Pizza!</p>
  <p>For the new year we've moved our meeting location to <a href="http://launchpadnola.com">Launchpad</a>, but our meeting time is still the same, 7:00p.</p>
  <p>RSVP with us over at our <a href="http://www.meetup.com/RubyBayou/">Meetup group</a>.</p>
</div>
