<div id="about" class="column">
  <h1>About Us</h1>
  <p>Ruby Bayou is the user group for the Ruby developer community in New Orleans. We exist to promote and explore the use of Ruby as a programming language as well as engage with other technology and community groups in the New Orleans metro area.</p>
  <h2>Keeping Up</h2>
  <p>If you want to stay informed about monthly meetings and events please subscribe to our <a href="http://eepurl.com/hcia">announcement list</a>.</p>
</div>
<div id="twitter" class="column">
  <h1>Twitter</h1>
  <ul>
  <% @tweets.each do |tweet| %>
    <li><%= linkify_twitter_text(tweet.text) %> <small>(<%= time_ago_in_words(tweet.datetime) %>)</small></li>
  <% end %>
  </ul>
  <a href="http://twitter.com/RubyBayou" id="twitter-link" style="display:block;text-align:right;">Keep up on Twitter</a>
</div>
<div id="meeting" class="column">
	<h1>Upcoming Meeting</h1>
	<h2>A Look at Rails 3</h2>
	<div id="calendar-tile">
		<div id="month">February</div>
		<span>25</span>
		<div id="time">7:00 pm</div>
	</div>
  <p><a href="http://twitter.com/plainprogrammer">James Thompson</a> will present on what's coming with <a href="http://rubyonrails.org">Rails 3</a> and demo starting a new project with it. Pizza will be provided along with a few giveaways. This meeting will be held at <a href="http://www.gumbolabs.org/">Gumbo Labs</a> starting at 7:00pm. For help finding the space call James at (502) 619-0353.</p>
</div>
