html, body {
  background-color: #269DEB;
  text-align: center;
}

#content_area {
  height: 400px;
  background-color: #FFFFFF;
  padding-bottom: 8px;
}

#footer {
  
}

.container {
  position: relative;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  padding: 0;
  text-align: left;
}

#logo {
  width: 410px;
  height: 195px;
  position: absolute;
  top: 253px;
  right: 0;
}

#facebook_badge {
  position: absolute;
  top: 416px;
  left: 0px;
}

#sponsors {
  position: absolute;
  top: 416px;
  left: 200px;
}

#sponsors ul {
  margin-left: 1em;
}

#sponsors li {
  margin-bottom: 0.3em;
}

#sponsors a {
  color: #eeeeee;
}

#copyright {
  width: 410px;
  position: absolute;
  top: 450px;
  right: 0px;
}

.column {
  float: left;
  z-index: 0;
}

#about {
  width: 280px;
  margin-right: -280px;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #CCCCCC;
}

#twitter {
  width: 220px;
  margin-right: -220px;
  margin-left: 340px;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  top: 0;
}

#meeting {
  width: 280px;
  margin-right: -220px;
  margin-left: 280px;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  top: 0;
}

#meeting #calendar-tile {
	width: 100px;
	float: left;
	margin-top: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	border: 2px solid #990000;
	text-align: center;
}

#calendar-tile #month {
	color: #ffffff;
	background-color: #990000;
	padding: 0.1em;
	font-size: 1.3em;
	font-weight: bold;
}

#calendar-tile span {
	font-size: 3em;
	font-weight: bold;
}

#calendar-tile #time {
  color: #ffffff;
  background-color: #990000;
  padding: 0.1em;
}
